@using Panele.Models
@model LogInViewModel
@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/MainStyles.css" rel="stylesheet" />
    <link href="~/Content/FormsStyle.css" rel="stylesheet" />
    <script src="~/Scripts/contentChanger.js"></script>
    <link href="~/Content/Pictures/typki/css/fontello.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato" rel="stylesheet">
    <title>Logowanie</title>
</head>
<body>
    @Html.Partial("_navBar")
    <div id="container">
        <h1>Logowanie</h1>
        <section id="loginForm">
            @using (Html.BeginForm("LogIn", "Account", new { returnUrl = ViewBag.returnUrl }, FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "")
            <div class="formGroup">
                <div class="formLabel">@Html.LabelFor(m => m.UserName)</div>
                @Html.TextBoxFor(m => m.UserName)
            </div>
            <div class="formGroup">
                <div class="formLabel">@Html.LabelFor(m => m.Password)</div>
                @Html.PasswordFor(m => m.Password)
            </div>
            <input type="submit" value="Zaloguj" id="submitBtn" />
            }
        </section>
    </div>
    @Html.Partial("_preFooter")
    @Html.Partial("_footer")
</body>
</html>
