@model PagedList.IPagedList<Panele.Models.Product>
@using PagedList.Mvc
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>F.H.U. PANELEO</title>

    <link href="~/Content/Pictures/typki/css/fontello.css" rel="stylesheet" />
    <link href="~/Content/MainStyles.css" rel="stylesheet" />
    <link href="~/Content/OfertStyles.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/Scripts/ChangingColor.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato" rel="stylesheet">
</head>
<body>
    <div>
        @Html.Partial("_navBar")
        <div class="Container">
            <div style="width: 98%;" id="secondNavBar">
                @using (Html.BeginForm())
                {
                    <button class="coolbutt" onclick="location.href='@Url.Action("Index")'">
                        <span>Znajdź</span>
                    </button>
                    @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
                }
               
                <div style="clear: both;"></div>
            </div>
            <div class="pagination-in-Offert" style="margin-top: 30px;">


                @if (Model.PageCount <= 0)
                {
                    <p style="color: red; font-weight: bold; margin-left: 500px;">Przykro nam. Nie ma nic do wyświetlenia !</p>
                }
                else
                {
                    <p>
                       

                        @Html.PagedListPager(Model, page => Url.Action("Index",
                            new { page }))
                        Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

                    </p>

                }
            </div>
            
            <div class="Content">
                @foreach (var element in Model)
                {
                
                    <div class="table">

                        <div class="title">
                            <p>@Html.ActionLink(element.Name, "Details", "Products", new { id = element.Id }, null)</p>

                        </div>
                        <div class="state">
                            <p><span style="margin: 0px;">Status:  </span>@element.State</p>

                        </div>
                        <div class="corp">
                            <p> <span style="margin: 0px;">Firma: </span> @element.Company</p>
                        </div>
                        <div class="rate">


                            <p>Ocena: <span>@Math.Round(element.Rate, 2)</span></p>
                        </div>

                        <div class="imgContent">
                            <p><img src="~/Content/image.jpg" width="223" height="200" /></p>
                        </div>
                        <div class="costLook">
                            <div class="leftLook">
                                @element.Cost
                            </div>
                            <div class="rightLook">
                                <i class="icon-suitcase"></i>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>

                }

            </div>
          

            <div style="clear: both;"></div>
        </div>
        @Html.Partial("_prefooter")
        @Html.Partial("_footer")
    </div>
</body>
</html>
