
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Strona główna</title>
    <link href="~/Content/ManageStyles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/interactiveNavBarElement.js"></script>
</head>
<body>
    <div id="manageContainer">
        <div style="height: 1200px;" id="leftPanel">
            <span>MY ADMIN Interface</span>
            <ul>

                <li style="height: 70px;">@Html.ActionLink("Dodaj produkt", "AddProduct", "Manage")</li>
                <li style="height: 70px;">@Html.ActionLink("Usuń produkty", "Details", "Manage")</li>
                <li style="height: 70px;">@Html.ActionLink("Strona główna", "Index", "Home")</li>
                <li style="height: 70px;">@Html.ActionLink("Wyloguj", "EditDetails", "Manage")</li>

            </ul>
        </div>
        <div id="rightPanel">
            <div id="infoDesk">
                <div class="navbarElements">

                    @using (Html.BeginForm())
                    {
                        <div class="navElement">
                            <button type="submit" class="searchButton" onclick="location.href='@Url.Action("Index")'">
                                <span>Znajdź</span>
                            </button>

                            @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                        </div>
                        <div class="holder">

                            <div style="margin-left: 20px;">
                                <span id="designElement" onclick="showList()">Ostatnio dodane</span>
                                <div id="contForCheck">
                                    <ol id="listActive">
                                        <li> @Html.ActionLink("24 godziny", "LastAdd", new { showDataType = 1 })</li>
                                        <li> @Html.ActionLink("W tym miesiącu", "LastAdd", new { showDataType = 2 })</li>
                                        <li> @Html.ActionLink("Data", "LastAdd", new { showDataType = 3 })</li>
                                    </ol>

                                </div>

                            </div>



                        </div>


                        <div style="clear: both;"></div>
                    }



                </div>
            </div>
        </div>

        <div style="width: 100%;" id="cont">
        
            @RenderBody()
        </div>



    </div>
</body>
</html>
