<div id="navBar">
    @Html.Partial("_logo")
    <div id="options">
        <ul>
            <li>@Html.ActionLink("O nas", "About", "Home")</li>
            <li>@Html.ActionLink("Kadra", "Kadra", "Home")</li>
            <li>@Html.ActionLink("Oferta", "Index", "Products")</li>
            @if (!Request.IsAuthenticated)
            {
            <li>@Html.ActionLink("Zaloguj", "LogIn", "Account")</li>
            <li>@Html.ActionLink("Rejestracja", "Register", "Account")</li>}
            else
            {
            <li id="userName">@User.Identity.Name</li>
            <li>@Html.ActionLink("Wyloguj", "LogOut", "Account")</li>}
        </ul>
    </div>
</div>
