<div id="navBar">
    @Html.Partial("_logo")
    <div id="options">
        <ul>
            <li>@Html.ActionLink("O nas","About","Home")</li>
            <li>@Html.ActionLink("Kadra","Kadra","Home")</li>
            <li>@Html.ActionLink("Oferta", "Index","Products")</li>
            <li>@Html.ActionLink("Zaloguj", "LogIn","Home")</li>
            <li>@Html.ActionLink("Rejestracja", "Register","Home")</li>
        </ul>
    </div>
</div>
